* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
* ::-webkit-scrollbar {
  display: none;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  overflow: hidden;
  border-radius: 10px;
}
main header {
  background-color: rgb(204, 75, 204);
  color: #ffffff;
  padding: 7px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
main header div.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
main header div.title h1 {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  margin-left: 10px;
}
main header button {
  background-color: transparent;
  border: none;
  outline: none;
}
main div.container {
  background-color: #7E878c;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
main div.container div.users-window {
  width: 350px;
  color: #ffffff;
  background-color: #3f3f3f;
  padding: 15px 20px;
  border-radius: 10px;
  margin-right: 20px;
}
main div.container div.users-window div.users-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
main div.container div.users-window div.users-head h4 {
  background-color: #7E878c;
  padding: 0 8px;
  border-radius: 50px;
}
main div.container div.users-window div.users-list p {
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  font-weight: 500;
  margin-bottom: 15px;
}
main div.container div.chat-window {
  width: 100%;
  border-radius: 10px;
  background-color: #3f3f3f;
}
main div.container div.chat-window div.chats {
  height: 65vh;
  padding: 20px;
  overflow-y: auto;
  border: red;
}
main div.container div.chat-window div.chats div.user-join {
  font-size: 0.9rem;
  color: #3f3f3f;
  background-color: #ffffff;
  border-radius: 50px;
  width: -moz-max-content;
  width: max-content;
  padding: 7px 20px;
  margin: 0 auto;
  margin-bottom: 15px;
}
main div.container div.chat-window div.chats div.message {
  color: #3f3f3f;
  background-color: #ffffff;
  padding: 5px 15px;
  max-width: 400px;
  margin-bottom: 15px;
  border-radius: 10px 50px 50px 10px;
}
main div.container div.chat-window div.chats div.message p {
  font-size: 16px;
}
main div.container div.chat-window div.chats div.outgoing {
  margin-left: auto;
  color: #ffffff;
  background-color: rgb(204, 75, 204);
  border-radius: 50px 10px 10px 50px;
  text-align: right;
  display: flex;
  justify-content: end;
  gap: 10%;
}
main div.container div.chat-window div.chats div.outgoing img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
main div.container div.chat-window div.chats div.incoming {
  display: flex;
  justify-content: start;
  gap: 10%;
}
main div.container div.chat-window div.chats div.incoming img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
main div.container div.chat-window div.user-input {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  padding: 20px;
}
main div.container div.chat-window div.user-input input {
  font-size: 16px;
  background-color: #ffffff;
  outline: none;
  border: none;
  width: 100%;
  border-radius: 50px 0 0 50px;
}
main div.container div.chat-window div.user-input button {
  font-size: 16px;
  font-weight: 600;
  padding: 5px 15px;
  border: none;
  outline: none;
  letter-spacing: 0.5px;
  color: #ffffff;
  background-color: rgb(204, 75, 204);
  border-radius: 0 50px 50px 0;
}

#logout-btn {
  /* Set background color */
  background-color: #3f3f3f;
  /* Set text color */
  color: white;
  /* Add some padding and border for better appearance */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  /* Add hover effect */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#logout-btn:hover {
  /* Change background color on hover */
  background-color: #3498db;
}/*# sourceMappingURL=index.css.map */